@font-face { 
    font-family: Abril; src: url('/assets/fonts/AbrilFatface-Regular.ttf'); 
    font-family: PTSans; src: url('/assets/fonts/PTSans-Regular.ttf'); 
} 

.abril, h1, h2, h3, h4, h5, h6 {
    font-family: Abril, sans-serif;
}

.pt-sans, p, span, li, a {
    font-family: PTSans, sans-serif;
    font-style: normal;
}

.skip-link {
    background: #e77e23;
    height: 30px;
    margin-bottom: 2rem;
    /* left: 50%; */
    padding: 8px;
    /* position: absolute; */
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
.skip-link:focus {
    transform: translateY(0%);
}

body {
    background-color: rgba(209, 250, 229, 1);
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

@keyframes fadeInRight {
    0% {
      opacity: 0.1;
      -webkit-transform: translate3d(5%, 0, 0);
      transform: translate3d(5%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
.animate__fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}